@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black !important;
  margin: 0;
  padding: 0;
}
/* Deep space cinematic gradient */
.space-bg {
  background: #000000;
}

.glow-text {
  text-shadow: 0 0 20px #38bdf8, 0 0 40px #0ea5e9;
}

.glow-button {
  box-shadow: 0 0 20px rgba(56,189,248,0.7);
}
